[Bb]uild/

[Bb]in/x86/*.exe
[Bb]in/x86/*.ilk
[Bb]in/x86/*.pdb
[Bb]in/x86/*.idb
[Bb]in/x86/*.lib

[Bb]in/x64/*.exe
[Bb]in/x64/*.ilk
[Bb]in/x64/*.pdb
[Bb]in/x64/*.idb
[Bb]in/x64/*.lib

*.sdf
*.suo
*.opensdf
*.user
*.db
